.header, .info, .footer {
    text-align: center;
}

.header img {
    max-width: 380px;
}

.footer img {
    height: 150px;
}

@font-face {
    font-family: 'MyElephant';
    src: URL('Cheque-Black.otf') format('truetype');
}

.menu button {
    border: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    border-radius: 30px;
    height: 50px;
    width: 85%;
    margin: 10px;
    color: black;
    font-family: MyElephant;
    font-size: 30px;
}

button.instagram {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
    height: auto;
    text-align: center;
}

html {
    overflow-x: hidden;
}