.header, .content {
    text-align: center;
}

.header img {
    max-width: 420px;
    padding-top: 10px;
}

body  {
    background-image: repeating-radial-gradient(black, transparent 1px);
    padding-bottom: 100%;
}

.content img {
    max-height: 650px;
}

@font-face {
    font-family: 'MyElephant';
    src: URL('Elephant.ttf') format('truetype');
}

.footer p {
    color: black;
    font-family: MyElephant;
    font-size: 77px;
    -webkit-text-stroke: 2px #ffc731;
}

.footer table td {
    width: 50%;
    text-align: center;
}

h2 {
    color: white;
    font-family: fantasy;
    font-size: 100px;
    -webkit-text-stroke: 2px #3166ff;
}