.header, .info, .footer {
    text-align: center;
}

.header img {
    max-width: 324px;
}

.footer img {
    height: 150px;
}

@font-face {
    font-family: 'ChequeBlack';
    src: URL('Cheque-Black.otf') format('truetype');
}

@font-face {
    font-family: 'ChequeRegular';
    src: URL('Cheque-Regular.otf') format('truetype');
}

.info button {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    border-radius: 30px;
    height: 50px;
    width: 85%;
    margin: 10px;
    color: black;
    font-family: ChequeBlack;
    font-size: 30px;
}

button.instagram {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
    height: auto;
    font-family: ChequeRegular;
}

.shibju-text {
    font-family: ChequeRegular;
    letter-spacing: 0.2em;
    border: 1px solid;
}

.inst-text {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: white;
    border-radius: 5px;
}

.about svg, .projects svg, .artworks svg {
    vertical-align: baseline;
}

.mobile .work {
    max-width: 89% !important;
}
.mobile .work-name {
    width: 89% !important;
    margin-left: 5.5% !important;
    font-size: 20px !important;
}

.mobile button {
    font-size: 20px;
}

.work {
    border: 2px solid black;
    max-width: 35%;
}
.work-name {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: black;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: black;
    width: 35%;
    margin-left: 32.5%;
    font-family: ChequeBlack;
    font-size: 30px;
    margin-bottom: 10px;
}

button.about {
    height: auto;
}

body {
    background-image: repeating-radial-gradient(black, transparent 48px);
}