img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hidden, .hide {
    display: none;
}

.swiper {
    border: 0;
}

.swiper-button-next, .swiper-button-prev {
    color: #02f8f8;
}

.swiper-pagination-bullet-active {
    background-color: #02f8f8;
}

.title {
    color: #02f8f8; /* fd0707 */
    font-family: MyElephant;
    text-align: center;
    font-size: 77px;
    letter-spacing: -5px;
}

.contacts {
    color: #ffc;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    border-radius: 20px;
    padding: 20px;
    background: transparent;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
    font-size: 70%;
}

.contacts.active {
    background: rgba(50,50,50,.6);
}

.contacts.active * {
    opacity: 1;
    filter: alpha(opacity=100);
    color: #ffc;
}

.contacts h1 {
    position: fixed;
    z-index: 99;
    margin: 0;
    padding: 15px 6px 5px 8px;
    right: 30px;
    bottom: 30px;
    width: 20px;
    height: 14px;
    font-size: 20px;
    border: 3px solid #ffc;
    line-height: 1px;
    border-radius: 20px;
    color: #ffc;
    opacity: .5;
    filter: alpha(opacity=50);
}

.contacts>* {
    margin: 20px 40px 30px 0;
    cursor: default;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    zoom: 1;
}

.about-text-wrapper {
    float: right;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

img.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#coin {
    position: relative;
    transform-style: preserve-3d;
}

#coin .front, #coin .back {
    position: absolute;
}

#coin .front {
    transform: translateZ(1px);
}

#coin .back {
    transform: translateZ(-1px) rotateY(180deg);
}

#coin.animation1080 {
    -webkit-animation: rotate1080 20000s linear forwards;
    animation: rotate1080 20000s linear forwards;
}

@-webkit-keyframes rotate1080 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800000deg); -moz-transform: rotateY(1800000deg); transform: rotateY(1800000deg); }
}

@keyframes rotate1080 {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800000deg); -moz-transform: rotateY(1800000deg); transform: rotateY(1800000deg); }
}

@font-face {
    font-family: 'MyElephant';
    src: URL('Elephant.ttf') format('truetype');
}