html {
	min-width: 510px;
	min-height: 600px;
}

body {
    background-image:  url(../images/background.jpg);
    color: red;
}

#my-brand-text{
    color: #FF7373;
    font: bold italic 145% serif;
}

#my-header {
    background: linear-gradient(to bottom right, black, #090974);
	position: sticky;
	top: -1px;
	z-index: 1;
}

#navbar-main .nav-menu li a {
	color: #FF4900;
}

#navbar-main .nav-menu li a:hover {
	color: #FF7373;
}

.music-fragment p {
	color: white;
	font-size: 25px !important;
	font-weight: bold;
	font: bold italic 145% serif;
}

.music-fragment audio {
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
	-moz-box-shadow: 2px 2px 4px 0px black;
	-webkit-box-shadow:  2px 2px 4px 0px black;
	box-shadow: 2px 2px 4px 0px black;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:7px 7px 7px 7px ;
	height: 60px;
}

.music-fragment audio:hover, audio:focus, audio:active
{
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
	margin-left: 10px;
}

#banner {
	color: orange;
	font-size: 2em;
	border: 2px dashed #BD8110;
}

#banner strong {
	background-color: red;
}

.mrg5 {
	margin-left: 5px;
}

.wh55 img {
	width: 500px;
	height: 500px;
}

.wh56 img {
	width: 500px;
	height: 600px;
}

.wh55-5 img {
	width: 500px;
	height: 550px;
}